.current-weather-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: #4158D0; 
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    min-height: 228px;
}

.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.location-part {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
}

.location-part p {
    margin-bottom: 0;
    margin-left: 5px;
    color: #070707;
}

.overall-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

}

.weather-condition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.weather-condition p {
    margin-bottom: 0;
    color: #f4f4f4;
}

.temp p {
    margin-bottom: 0;
    color: #f4f4f4;
    font: 1.7em sans-serif;
}