.dashboard {
    width: 106%;
    min-height: 100vh;
}

.content-section {
    width: 100%;
    padding: 2.5% 2.5% 0 2.5%;
    background-color: #fdfdfd;
  }

.header-cards {
    margin-bottom: 15px;
    display: flex;
}

.welcome-user {
    max-width: 200px;
    margin-left: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: #3EECAC;
background-image: linear-gradient(19deg, #3EECAC 0%, #EE74E1 100%);

}

.welcome-user h2 {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 650;
}

.viewImg img {
    height: 228px;
    width: 500px;
    border-radius: 10px;
    margin-left: 15px;
}

.main-ada-content0 {
    display: flex;
}

.main-ada-content {
    display: flex;
}

.main-ada-content > div {
    margin-right: 15px;
}